body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: white;
    color: black;
    text-align: center;
}

header {
    padding: 20px;
    background: black;
    color: white;
}

header img {
    width: 60px;
    height: 60px;
    border-radius: 120px;
}

h2 {
    color: red;
}

a {
    color: blue;
}

ul {
    list-style: none;
    padding: 0;
}

section {
    padding: 20px;
    border-bottom: 1px solid #ddd;
}

footer {
    background: black;
    color: white;
    padding: 10px;
}
